<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Jar setting</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="modal-jar d-flex flex-column">
        <div class="modal-percent d-flex justify-content-between py-2 px-1" *ngFor="let j of jars">
          {{ j.title }}
          <div class="modal-percent--right d-flex justify-content-around">
            <button
              class="btn-none font-red"
              id="minus"
              type="button"
              (click)="changePercentage(j, $event)"
            >
              -
            </button>
            <p class="modal-percent__number text-center font-white">{{ j.percentage }}</p>

            <button
              class="btn-none font-green"
              id="plus"
              type="button"
              (click)="changePercentage(j, $event)"
            >
              +
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="alert" class="alert active-green m-0 mt-3" role="alert">
        Total: {{ percentage }}
      </div>
      <div *ngIf="!alert" class="alert active-red m-0 mt-3" role="alert">
        Total: {{ percentage }}
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-orange w-100 font-white"
      (click)="alert ? modal.close('Save click') : ''"
      (click)="alert ? updatePercentage() : ''"
    >
      Save
    </button>
  </div>
</ng-template>

<button type="button" class="btn-none font-white" (click)="open(content)">
  All Jars (Click to change percentage)
</button>
