<button id="income" (click)="transaction($event)" class="btn-primary">
  Income
</button>
<button id="expense" (click)="transaction($event)" class="btn-primary">
  Expense
</button>
Total Money: {{ wallet.income - wallet.expense | currency: "VND" }}

<div class="container" *ngIf="jars">
  <div class="jars-list" *ngFor="let jar of jars">
    <h3>
      <a routerLink="/jars/{{ jar.id }}">{{ jar.title }}</a>
    </h3>
    <div class="card">
      Balance:
      <span> {{ jar.income - jar.expense | currency: "VND" }}</span>
      Origin Money:
      <span> {{ jar.income | currency: "VND" }}</span>
    </div>
  </div>
</div>
