<ng-container *ngIf="wallet">
  <form (submit)="save(income.value, description.value)">
    <label for="wallet-income">wallet income: </label>
    <input
      #income
      placeholder="wallet income"
    />
    <input
      #description
      placeholder="wallet income"
    />
    <button>save</button>
  </form>

  Total Money: {{ wallet.income - wallet.expense | currency: "VND" }}
</ng-container>

<div class="container" *ngIf="jars">
  <div class="jars-list" *ngFor="let jar of jars">
    <h3>
      <a routerLink="/jars/{{ jar.id }}">{{ jar.title }}</a>
    </h3>
    <div class="card">
      Balance:
      <span>
        {{
          jar.income - jar.expense
            | currency: "VND"
        }}</span
      >
      <br />
      <button class="btn">
        Income: {{ jar.income }}
      </button>
      <button class="btn">Expense: {{ jar.expense }}</button>
    </div>
  </div>
</div>
