<div class="jar-container">
  <div class="history">
    <p class="w-100 text-center font-white mb-2">History</p>
    <div *ngIf="jars" ngbDropdown class="history-jars position-relative p-3">
      <p>Select a jar</p>
      <button
        class="btn-none text-left"
        type="button"
        id="dropdownBasic1"
        ngbDropdownToggle
        #selected
      >
        {{ jar?.title || "All Jars" }}
      </button>
      <app-dropdown
        [hasDefault]="true"
        [jars]="jars"
        (selectedJar)="changeSelected($event)"
        (selectedDefault)="changeSelected($event)"
      ></app-dropdown>
    </div>
    <div class="history-picker mb-2">
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select [(ngModel)]="currentMonth" (ngModelChange)="changeDate()">
            <option *ngFor="let item of month" [value]="item">
              {{ item }}
            </option>
          </select>
          <select [(ngModel)]="currentYear" (ngModelChange)="changeDate()">
            <option *ngFor="let item of year" [value]="item">{{ item }}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')"
            (click)="showHistory()"
          >
            Save
          </button>
        </div>
      </ng-template>

      <button
        class="btn btn-md btn-orange w-100 py-2 history-pickdate text-left mb-3"
        (click)="open(content)"
      >
        {{ filter.month }}/{{ filter.year }}
      </button>
    </div>
    <div class="scroll-history">
      <div class="history-list" *ngFor="let his of histories">
        <div class="history-card">
          <div class="top d-flex justify-content-between">
            <div class="history-title">{{ his.jar.title }}</div>
            <div
              [class.font-green]="his.type === 'income'"
              [class.font-red]="his.type === 'expense'"
              class="history-amount"
            >
              {{ his.type === "income" ? "+" : "-"
              }}{{ his.amount | currency: "VND" }}
            </div>
          </div>
          <div class="bot d-flex justify-content-between">
            <div class="history-type">
              {{ his.description || his.type | titlecase | slice: 0:20 }}
            </div>
            <div class="history-date">
              {{ his.datetime | date: "dd/MM/YYYY" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
