/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
:root {
  --primary-color: #ffab73;
  --dark-primary-color: #e76a16;
}
.font-green {
  color: green;
}
.font-red {
  color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
main {
  position: relative;
  width: 400px;
  height: 90vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}
.main {
  overflow-y: scroll;
  height: 85vh;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    &:hover {
      background: var(--dark-primary-color);
    }
  }
}
p {
  margin: 0;
}
.jar-container {
  max-height: 80vh;
}
//******************
//******************
//******SCREEN******
//******************
//******************

.screen {
  padding: 15px 20px;
  border-bottom: 1px solid #fff;
}
.card {
  min-width: 360px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-radius: 10px;
}
.card-receipts {
  display: flex;
  justify-content: center;

  button {
    width: 100%;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    text-align: left;
    padding: 0.8rem 1rem 0.8rem 1rem;
    outline: none;
    border: 0;
    line-height: 2.2rem;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    &:hover {
      h3 {
        color: var(--primary-color);
      }
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
  }

  h3,
  i {
    font-size: 14px;
  }
}
.card-balances {
  display: flex;
  .money {
    margin-top: 1.5rem;
    padding: 20px;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
  }
  h2 {
    font-size: 14px;
  }
}
.balances {
  font-weight: 500;
}
.btn-orange {
  background: #fff9b0;
}
.btn-none {
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    box-shadow: none;
  }
}
//******************
//******************
//*******JAR********
//******************
//******************
.jar {
  font-size: 1.8rem;
  flex: 1;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #fff;
  a {
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    font-size: 2.4rem;
  }
}
.money {
  color: var(--dark-primary-color);
}
.jars-list {
  margin-top: 1.8rem;
  &:not(:last-child) {
    margin-bottom: 2.3rem;
  }
}
.jar-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    flex: 1;
  }

  &__last {
    margin-left: 15px;
    i {
      font-size: 12px;
    }
  }
}
.progress-title {
  display: flex;
  justify-content: space-between;
}
.progress {
  height: 0.7rem;
}
.progress-bar {
  background-color: var(--primary-color);
}
.navbar {
  background-color: red;
  overflow: hidden;
  position: fixed;
  bottom: 38px;
  width: 400px;
  padding: 0.6rem 2.1rem;
  a {
    font-size: 2.4rem;
    color: #000;
    &.active {
      color: var(--primary-color);
    }
  }
}
//******************
//******************
//****JAR-DETAIL****
//******************
//******************
.jar-details {
  height: 25vh;
  & > h2 {
    color: #fff;
    padding: 3rem 3rem 0 3rem;
    font-size: 2.2rem;
  }
}

//******************
//******************
//***TRANSACTION****
//******************
//******************
.active-green {
  background-color: green;
}
.active-red {
  background-color: red;
}
.transaction {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  &__navbar {
    background-color: #000;

    margin: 1.5rem 0;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 500;

    a {
      text-decoration: none;
      color: #fff;
      padding: 0.5rem;
      width: 100%;
      text-align: center;
      border-radius: 50px;
    }
  }
  .card {
    font-size: 1.6rem;
  }
  input {
    width: 100%;
    border: 0;
    outline: none;
  }
  #money {
    height: 40px;
    font-size: 2.4rem;
  }
}
.transaction-card-item {
  padding: 0.7rem 0;
  &:not(:last-child) {
    border-bottom: 1px solid #999;
  }

  // #dropdownBasic1 {
  //   &.dropdown-menu{
  //     width: 100%;
  //   }
  //   &::after {
  //     position: absolute;
  //     right: 12px;
  //     top: 44%;
  //   }
  // }
  // div {
  //   width: 100%;
  //   top: 53% !important;
  // }
}
.button-group {
  font-size: 1.6rem;
  p {
    font-size: 1.8rem;
    font-weight: 500;
  }
  button {
    outline: none;
    border: 0;
    background-color: transparent;
  }
}
.button-item {
  cursor: pointer;
  &:last-child {
    text-align: right;
  }
  width: 25%;
}
.button-content {
  width: 50%;
  text-align: center;
}
//******************
//******************
//******MODAL*******
//******************
//******************
.alert {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}
.modal-content {
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
}
.modal-header {
  h4 {
    font-size: 2.2rem;
  }
}
.modal-footer {
  button {
    border-radius: 0.5rem;
    background: var(--primary-color);
    font-size: 1.6rem;
    padding: 0.8rem;
  }
}
.modal-jar {
  & > div {
    padding: 0.5rem 0 0.5rem 1.2rem;
    border-bottom: 1px solid black;
  }
}
ngb-datepicker.dropdown-menu {
  width: 95%;
  select {
    width: 80px;
  }
}
//******************
//******************
//*****HISTORY******
//******************
//******************
.history-list {
  font-size: 1.4rem;
  padding: 0.5rem 0.3rem;
  border-bottom: 1px solid var(--dark-primary-color);
}
.history-title,
.history-amount {
  font-size: 1.6rem;
  font-weight: 500;
}
.history-jars {
  margin: 0 10px;
  padding: 8px 0;
  background: var(--primary-color);
}
//******************
//******************
//*****DROPDOWN*****
//******************
//******************
#dropdownBasic1 {
  &::after {
    position: absolute;
    right: 8px;
    top: 46%;
  }
}
div[aria-labelledby="dropdownBasic1"] {
  width: 100%;
}
