<form (submit)="save(money.value, description.value)">
  <div class="transaction">
    <div class="button-group d-flex justify-content-around">
      <div class="button-item" (click)="goBack()">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="button-content">
        <p>Add a transaction</p>
      </div>
      <div class="button-item"><button type="submit">Save</button></div>
    </div>
    <div class="transaction__navbar d-flex justify-content-around">
      <a href="#">Income</a>
      <a href="#">Expense</a>
    </div>
    <div class="card">
      <div class="transaction-card-item">
        <input id="money" #money placeholder="0" />
      </div>

      <ng-container *ngIf="trans === 'expense'">
        <div
          *ngIf="jars"
          ngbDropdown
          class="transaction-card-item d-inline-block"
        >
          <button
            class="btn-none"
            type="button"
            id="dropdownBasic1"
            ngbDropdownToggle
            #selected
          >
            {{ jar?.title || jars[0].title }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              type="button"
              ngbDropdownItem
              *ngFor="let j of jars"
              (click)="changeSelected(j)"
            >
              {{ j.title }}
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="trans === 'income'">
        <div class="transaction-card-item">
          <app-percentage [jars]="jars"></app-percentage>
        </div>
      </ng-container>
      <div class="transaction-card-item">
        <input id="description" #description placeholder="Description" />
      </div>
    </div>
  </div>
</form>
